*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    background-color: #383D58;
    color: #FFFFFF;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 30%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.disciplina-div-conteudo {
    width: 35%;
}

.disciplina {
    background-image: linear-gradient(#383D58,#16CFF8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disciplina-titulo {
    padding: 24px 0;
}

.disciplina-imagem {
    width: 25%;
}

.professoras {
    background-color: #16CFF8;
    padding: 24px 0;
    text-align: center;
    color: #595e79;
}

.professoras-todas {
    display: flex;
    justify-content: center;
}

.professoras-div {
    text-align: center;
    padding: 24px 36px;
}

.professoras-titulo {
    font-size: 36px;
}

.professoras-imagem {
    width: 240px;
}

.professoras-icone {
    width: 24px;
    padding: 8px 4px;
}